In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
movie=pd.read_csv('movie.csv')
rating=pd.read_csv('rating.csv')
rating.drop('timestamp',axis=1,inplace=True)
movie.drop('genres',axis=1,inplace=True)
rating.head(2)
movie.head(2)

   movieId             title
0        1  Toy Story (1995)
1        2    Jumanji (1995)

In [3]:
df=pd.merge(movie,rating)
df=df[df['movieId']<10000]
df=df[df['userId']<10000]
df.head(1)

   movieId             title  userId  rating
0        1  Toy Story (1995)       3     4.0

In [4]:
df.head()

   movieId             title  userId  rating
0        1  Toy Story (1995)       3     4.0
1        1  Toy Story (1995)       6     5.0
2        1  Toy Story (1995)       8     4.0
3        1  Toy Story (1995)      10     4.0
4        1  Toy Story (1995)      11     4.5

In [5]:
ds=df.pivot_table(index=['userId'],columns=['title'],values='rating').dropna(thresh=500,axis=1)
ds.head(2)

title,10 Things I Hate About You (1999),12 Angry Men (1957),2001: A Space Odyssey (1968),28 Days Later (2002),A.I. Artificial Intelligence (2001),"Abyss, The (1989)",Ace Ventura: Pet Detective (1994),Ace Ventura: When Nature Calls (1995),Adaptation (2002),Addams Family Values (1993),...,William Shakespeare's Romeo + Juliet (1996),Willow (1988),Willy Wonka & the Chocolate Factory (1971),Witness (1985),"Wizard of Oz, The (1939)","X-Files: Fight the Future, The (1998)",X-Men (2000),X2: X-Men United (2003),You've Got Mail (1998),Young Frankenstein (1974)
userId,,,,,,,,,,,,,,,,,,,,,
1,NaN,NaN,3.5,3.5,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,4.0,NaN,NaN,3.5,NaN,NaN,4.0,NaN,4.0
2,NaN,NaN,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
ds.fillna(0,inplace=True)
ds.head()

title,10 Things I Hate About You (1999),12 Angry Men (1957),2001: A Space Odyssey (1968),28 Days Later (2002),A.I. Artificial Intelligence (2001),"Abyss, The (1989)",Ace Ventura: Pet Detective (1994),Ace Ventura: When Nature Calls (1995),Adaptation (2002),Addams Family Values (1993),...,William Shakespeare's Romeo + Juliet (1996),Willow (1988),Willy Wonka & the Chocolate Factory (1971),Witness (1985),"Wizard of Oz, The (1939)","X-Files: Fight the Future, The (1998)",X-Men (2000),X2: X-Men United (2003),You've Got Mail (1998),Young Frankenstein (1974)
userId,,,,,,,,,,,,,,,,,,,,,
1,0.0,0.0,3.5,3.5,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,4.0,0.0,0.0,3.5,0.0,0.0,4.0,0.0,4.0
2,0.0,0.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,5.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,...,0.0,0.0,5.0,4.0,4.0,5.0,0.0,0.0,0.0,5.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [7]:
movie_similarity = ds.corr(method='pearson')
movie_similarity.head()

title,10 Things I Hate About You (1999),12 Angry Men (1957),2001: A Space Odyssey (1968),28 Days Later (2002),A.I. Artificial Intelligence (2001),"Abyss, The (1989)",Ace Ventura: Pet Detective (1994),Ace Ventura: When Nature Calls (1995),Adaptation (2002),Addams Family Values (1993),...,William Shakespeare's Romeo + Juliet (1996),Willow (1988),Willy Wonka & the Chocolate Factory (1971),Witness (1985),"Wizard of Oz, The (1939)","X-Files: Fight the Future, The (1998)",X-Men (2000),X2: X-Men United (2003),You've Got Mail (1998),Young Frankenstein (1974)
title,,,,,,,,,,,,,,,,,,,,,
10 Things I Hate About You (1999),1.000000,0.075167,0.033138,0.164539,0.164979,0.124277,0.079385,0.112852,0.123228,0.057280,...,0.201363,0.144414,0.142150,0.072882,0.152712,0.117125,0.216671,0.186832,0.251870,0.056080
12 Angry Men (1957),0.075167,1.000000,0.249339,0.124052,0.134484,0.136683,0.038642,0.035587,0.164114,0.021888,...,0.113026,0.083243,0.121024,0.206030,0.250302,0.086562,0.116665,0.132012,0.107082,0.212357
2001: A Space Odyssey (1968),0.033138,0.249339,1.000000,0.210673,0.273798,0.368046,0.071722,0.070977,0.248265,0.046612,...,0.126795,0.196826,0.209784,0.263521,0.366613,0.227396,0.207086,0.170748,0.120253,0.325677
28 Days Later (2002),0.164539,0.124052,0.210673,1.000000,0.303945,0.185050,0.146030,0.166937,0.305141,0.054930,...,0.122986,0.144870,0.131253,0.068114,0.131026,0.123408,0.278175,0.322745,0.074154,0.102332
A.I. Artificial Intelligence (2001),0.164979,0.134484,0.273798,0.303945,1.000000,0.239165,0.146943,0.180271,0.298214,0.089295,...,0.165142,0.213232,0.141517,0.123629,0.176368,0.203944,0.332785,0.334045,0.196134,0.129033

In [8]:
def get_similar_movies(movie_name,user_rating):
    similarity_score=movie_similarity[movie_name]
    similarity_score=similarity_score.sort_values(ascending=False)
    return similarity_score

print(get_similar_movies("Toy Story (1995)",1))

title
Toy Story (1995)                              1.000000
Toy Story 2 (1999)                            0.410945
Willy Wonka & the Chocolate Factory (1971)    0.373221
Independence Day (a.k.a. ID4) (1996)          0.361169
Mission: Impossible (1996)                    0.347084
                                                ...
Client, The (1994)                            0.059619
Beverly Hills Cop III (1994)                  0.058022
Bridges of Madison County, The (1995)         0.045172
Specialist, The (1994)                        0.039472
Disclosure (1994)                             0.035460
Name: Toy Story (1995), Length: 462, dtype: float64